// src/styles/_breakpoints.scss
$breakpoint-390: 390px;
$breakpoint-440: 440px;
$breakpoint-768: 768px;
$breakpoint-1024: 1024px;
$breakpoint-1440: 1440px;

@mixin smMobile {
	@media (min-width: $breakpoint-390) {
		@content;
	}
}

@mixin mdMobile {
	@media (min-width: $breakpoint-440) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: $breakpoint-768) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $breakpoint-1024) {
		@content;
	}
}

@mixin maxDesktop {
	@media (min-width: $breakpoint-1440) {
		@content;
	}
}
