// src/styles/_layout.scss
@use './variables' as variables;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	max-width: 100%;
	overflow-x: clip;
}

body {
	margin: 0;
	min-height: 100vh;
	font-family: variables.$font-family-base;
	color: variables.$color-primary;
	background-color: variables.$color-white;
	overflow-wrap: break-word;
}

img,
video,
canvas,
svg,
iframe {
	max-width: 100%;
}

img,
video,
canvas {
	display: block;
	height: auto;
}
